version: '2'
volumes:
    data.helm:
    driver: "local"
services:
  helm:
    image: opennms/helm:{{ helm_image_version }}
    container_name: helm
    environment:
      - TZ={{ timezone }}
      - GF_SERVER_ROOT_URL={{ grafana_gf_server_root_url }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_security_admin_password }}
    volumes:
      - data.helm:/var/lib/grafana
      - data.helm:/var/log/grafana
      - data.helm:/etc/grafana
    ports:
      - "{{ grafana_webui_port_expose }}"
